{% extends "base.html" %}


{% block content %}
  <h2>Log in</h2>
  <form action="{% url 'sign_in_v' %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
      </div>
    {% endfor %}
    {% if errors %}
    {% for error in errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ error }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    <button type="submit" class="btn btn-outline-secondary">Login</button>
  </form>
{% endblock %}
