{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h2 class="h2" id="head_banner">{% trans "Add post" %}</h2>

    <form action="{% url 'add_post_v' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            {{ field }}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-outline-secondary">Save</button>
    </form>
{% endblock %} 